<div class="sidenav" >
      <div class="logo-container">
        <button class="logoImg"></button>
        <div class="logo-text"></div>
        <button class="btn-close"></button>
      </div>

      <ul className="sidenav-nav">
        <li class="sidenav-nav-item" *ngFor="let data of navData">
          <a href="" class="sidenav-nav-link" [routerLink]="[data.routeLink]">
            <i class="sidenav-link-icon" [class]="data.icon"></i>
            <span class="sidenav-link-text" *ngIf="collapsed">{{data.label}}</span>
          </a>
        </li>
      </ul>
</div>
