<div class="container">
  <div class="imgContainer">
    <img class="loginImg" src="../../../assets/login.png" alt="Logo">
  </div>
  <div class="registerForm">
    <h2>Crie sua conta aqui :]</h2>
    <form>
    <label for="name"> Nome Completo </label>
    <input type="text" id="name" name="name" placeholder="Digite seu nome completo"><br>
    <label for="msisdn"> Telefone </label>
    <input type="text" id="msisdn" name="msisdn" placeholder="Digite seu telefone"><br>
    <label for="email"> Email </label>
    <input type="email" id="email" name="email" placeholder="Digite seu email"><br>
    <label for="user"> Usuário </label>
    <input type="text" id="user" name="user" placeholder="Digite seu usuário"><br>
    <label for="name"> Nome Completo </label>
    <input type="text" id="name" name="name" placeholder="Digite seu nome completo"><br>
    <label for="pwd"> Senha </label>
    <input type="password" id="pwd" name="pwd" placeholder="Digite sua senha"><br>
    <button> Criar Conta </button>
    </form>
   <div class="login">
      <p> Já tem uma conta?</p>
      <a href="/login" class="loginClick"> Log in</a>
    </div>

  </div>
</div>
