<div class="container">
  <div class="imgContainer">
    <img class="loginImg" src="../../../assets/login.png" alt="Logo">
  </div>
  <div class="loginForm">
      <h2>Entre com sua conta</h2>
      <form>
          <label for="user">Usuário</label><br>
          <input type="text" id="user" name="user" placeholder="Digite seu usuário"><br>
          <label for="pwd">Senha</label><br>
          <input type="password" id="pwd" name="pwd" placeholder="Digite sua senha"><br>
          <button type="submit" >Entrar</button>
      </form>
      <div class="register">
        <p> Não tem uma conta?</p>
        <a href="/register" class="loginClick"> Cadastre-se </a>
      </div>
  </div>
</div>
