<div class="container">
  <div class="imgContainer">
    <img class="loginImg" src="../../../assets/login.png" alt="Logo">
  </div>
  <div class="loginForm">
      <h2>Entre com sua conta :]</h2>
      <form #loginform="ngForm" (ngSubmit)="loginUser()">
        <label for="email">Email</label><br>
        <input type="email" #email="ngModel" name="email" placeholder="Digite seu email" [(ngModel)]="user.email" required><br>
        <label for="pwd">Senha</label><br>
        <input type="password" name="password" placeholder="Digite sua senha" [(ngModel)]="user.password" required><br>
          <small class="text-danger">{{msg}}</small>
          <button type="submit" > Entrar </button>
      </form>
      <div class="register">
        <p> Não tem uma conta?</p>
        <a href="/register" class="loginClick"> Cadastre-se </a>
      </div>
  </div>
</div>
